###### 1) How-to-count-distance-to-the-previous-zero.
###### For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros,print the position Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
###### The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
###### import pandas as pd
###### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [60]:
import numpy as np
import pandas as pd
arr=np.array([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
df=pd.DataFrame(arr,columns=['X'])
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

###### 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [24]:
import numpy as np
import pandas as pd
dateIndex = pd.date_range(start='2015-01-01', end='2015-12-31', freq='C') 
series = pd.Series(np.random.rand(len(dateIndex)), index=dateIndex)
series

2015-01-01    0.353604
2015-01-02    0.544683
2015-01-05    0.098684
2015-01-06    0.688559
2015-01-07    0.599887
2015-01-08    0.977706
2015-01-09    0.722931
2015-01-12    0.314034
2015-01-13    0.246371
2015-01-14    0.449742
2015-01-15    0.550678
2015-01-16    0.486994
2015-01-19    0.809793
2015-01-20    0.868968
2015-01-21    0.901684
2015-01-22    0.623212
2015-01-23    0.627699
2015-01-26    0.500707
2015-01-27    0.983183
2015-01-28    0.232636
2015-01-29    0.262581
2015-01-30    0.058314
2015-02-02    0.566457
2015-02-03    0.477320
2015-02-04    0.100102
2015-02-05    0.316100
2015-02-06    0.297469
2015-02-09    0.578043
2015-02-10    0.064597
2015-02-11    0.909962
                ...
2015-11-20    0.997060
2015-11-23    0.582480
2015-11-24    0.908750
2015-11-25    0.146763
2015-11-26    0.630038
2015-11-27    0.539155
2015-11-30    0.247212
2015-12-01    0.053882
2015-12-02    0.424221
2015-12-03    0.161326
2015-12-04    0.463076
2015-12-07    0.850846
2015-12-08    0.025689
2015-12-09    0.850068
2015-12-10    0.687132
2015-12-11    0.674574
2015-12-14    0.032658
2015-12-15    0.026443
2015-12-16    0.307704
2015-12-17    0.359904
2015-12-18    0.651952
2015-12-21    0.245416
2015-12-22    0.802290
2015-12-23    0.066469
2015-12-24    0.715351
2015-12-25    0.951533
2015-12-28    0.020136
2015-12-29    0.479347
2015-12-30    0.127740
2015-12-31    0.900758
Freq: C, Length: 261, dtype: float64

###### 3) Find the sum of the values in s for every Wednesday

In [25]:
series[dateIndex.weekday == 2].sum()

27.82736247958801

###### 4) Average For each calendar month

In [26]:
series.resample('M').mean()

2015-01-31    0.541030
2015-02-28    0.390736
2015-03-31    0.450348
2015-04-30    0.529375
2015-05-31    0.471853
2015-06-30    0.444221
2015-07-31    0.615249
2015-08-31    0.531595
2015-09-30    0.536203
2015-10-31    0.503914
2015-11-30    0.559079
2015-12-31    0.429501
Freq: M, dtype: float64

###### 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [37]:
series.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-27
2015-05-31   2015-03-03
2015-09-30   2015-07-14
2016-01-31   2015-11-20
dtype: datetime64[ns]